/* Estilos globais adicionais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Ajustes para o conteúdo principal */
.main-content {
  flex: 1;
  padding: 2rem;
  text-align: center;
}

/* Ajustes para o rodapé */
.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
  margin-top: auto; /* Mantém o rodapé no final da página */
}